@import "../../../style/typography"
@import "../../../style/mixin"
@import "../../../style/images"
@import "../../../style/vars"

.news-card
  @include border(1px solid transparent, 35vw, 26vw, 2em)
  position: relative
  padding: 50px 2vw

  &__date
    @include border(1px solid transparent, 82px, 82px, 50%)
    @include flex(column, center, center)
    @extend .heading-h6
    background-color: $white

  &__info
    @include border(1px solid $light-gray, 32vw, 16vw, 2em)
    @include flex(column, space-between, normal)
    @include position(absolute, 270px, auto, 2)
    @include shadow(0 30px 10px, $light-gray)
    padding: 40px 50px
    background-color: $white

    &__author
      @extend .paragraph
      background: url($news-card__author-pattern) no-repeat
      line-height: 1.1
      color: $blue
      padding-left: 25px
      margin-bottom: 20px

    p
      margin-top: 5px

@media only screen and (max-width: 1600px)
  .news-card
    @include border(1px solid transparent, 680px, 600px, 2em)

    &__info
      @include border(1px solid $light-gray, 600px, 330px, 2em)

  .news-card:nth-of-type(2)
    display: none

@media only screen and (max-width: 992px)
  .news-card:nth-of-type(1)
    display: none

