@import "src/style/mixin"
@import "src/style/vars"

.section-six
  background-color: $blue
  padding: 100px 0 200px

  p
    color: $green
  header
    color: $white
    margin: 20px 0 40px

  &__products
    @include flex(row, center, center)
    flex-wrap: wrap
    grid-gap: 80px