@import "src/style/mixin"

.social-networks
  @include flex(column, normal, normal)
  grid-row-gap: 20px
  width: 40%
  text-align: center
  margin: 0 2vw

  &__icons
    @include flex(row, center, center)
    grid-column-gap: 10px
    margin-top: 20px